body {
  padding: 0px;
  margin: 0px;
  font-family:Arial,sans-serif;
}

.layout tr {
  vertical-align: top;
}

.results {
    border: solid black 1px;
    padding: 0px;
    margin: 0px;
    border-collapse: collapse;
}

.results tr {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/*.navon {
  border: solid white 1px;
  cursor: pointer;
}*/

.cell {
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 10px;
  height: 10px;
  font-size: 8px;
  font-weight: bold;
  position: relative;
}

.preview-cell {
  cursor: pointer;
  color: white;
  text-align: center;
  padding: 0px;
  margin: 0px;
  border: 0px solid black;
  width: 15px;
  height: 15px;
  font-size: 8px;
  font-weight: bold;
  position: relative;
}

.selected-preview {
  border: 1px solid white;
}

.contested {
  width: 50%;
  left: 50%;
  position: absolute;
}

.both {
  background-color: yellow;
}

.p1-grave {
  color: red;
  background-color: yellow;
  font-weight; bold;
}

.p2-grave {
  color: blue;
  background-color: yellow;
}

.p1-nest {
  color: white;
  background-color: #F24522;
}

.p2-nest {
  color: white;
  font-weight; bold;
  background-color: blue;
}

ul {
  list-style: none;
}

#nav {
  position: absolute;
  padding-top:5px;
  padding-bottom:5px;
  //background-color: #C6F985;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-height: 35px;
}

#spacer {
  height: 40px;
}

#ants-panel {
  display: none;
  position: absolute;
  top: 40px;
  width: 20%;
  height:100%;
  //background-color: #C6F985;
  padding: 5px;
}

#iterations-panel {
  right: 0px;
  top: 40px;
  height:100%;
  //background-color: #C6F985;
  padding: 5px;
}

table.panel-data tr.selected-iteration {
  background-color: #1D7EED;
  font-weight: bold;
  cursor: pointer;
}

table.panel-data {
  border-collapse: collapse;
  background-color: #DDD;  
}

table.panel-data tr.units th {
  font-weight: normal;
  font-size: 10px;
}


table.panel-data tr:hover {
  background-color: #DDD;
  cursor: pointer;
}

table.panel-data tr th {
  padding: 0 0.5em;
  background-color: #DDD;  
  text-align: left;
}

table.panel-data tr {
  background-color: #EEE;  
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
}

table.panel-data tr td {
  border-top: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  border-bottom: 1px solid #DDD;
  padding: 0 0.5em;
  white-space:nowrap;
}


#iterations-panel {
  
}

#grid-panel {
  float: right;
}

.legend {
  font-size: 10px;
}

.button {
  cursor: pointer;
  style: groove;
  background-color: #1D7EED;
  font-weight:bold;
  color: #FFFFFF;
  border-style:double;
  border-color:#1D7EED;
  border-width:4px;
}

#tail-button.tailing-selected {
  background-color: #F98453;
  border-color: #F98453;
}

.view-selected {
  background-color: #F98453;
  border-color: #F98453;
}


.bar {
  height: 12px;
  display: inline-block;
  position: relative;
  background-color: white;
}

.bar .region {
  height: 12px;
  position: absolute;
}

.bar .p1 {
  background-color: #F24522;
}

.bar .p2 {
  background-color: #2661BF;
}

.ants {
  color: black;
}

.food {
  color: green;
}

.writing {
  color: yellow;
}

.space {
  background-color: white;
}

.barrier {
  background-color: black;
}

.tl {
  border-top-left-radius: 6px;
}

.tr {
  border-top-right-radius: 6px;
}

.bl {
  border-bottom-left-radius: 6px;
}

.br {
  border-bottom-right-radius: 6px;
}

/*.ant {
  background-image:url('ant.jpg');
}*/

/*.nest {
  background-image:url('house.png');
}*/

/*.food {
  background-image:url('food.png');
}*/

.scent {
  background-color: red;
}

.p1Heat5120 {
  background-color: #F24522;
}

.p1Heat2560 {
  background-color: #F55E3F;
}

.p1Heat1280 {
  background-color: #F0745B;
}

.p1Heat640 {
  background-color: #F0745B;
}

.p1Heat320 {
  background-color: #F0745B;
}

.p1Heat160 {
  background-color: #F0745B;
}

.p1Heat80 {
  background-color: #F0745B;
}

.p1Heat40 {
  background-color: #F98453;
}

.p1Heat20 {
  background-color: #FD954E;
}

.p1Heat10 {
  background-color: #FFA74C;
}

.p1Heat5 {
  background-color: #FDB84E;
}

.p1Heat4 {
  background-color: #F8C953;
}

.p1Heat3 {
  background-color: #EFD85C;
}

.p1Heat2 {
  background-color: #E4E668;
}

.p1Heat1 {
  background-color: #D6F176;
}





.p2Heat5120 {
  background-color: #010C1C;
}

.p2Heat2560 {
  background-color: #031229;
}

.p2Heat1280 {
  background-color: #051A3B;
}

.p2Heat640 {
  background-color: #06224F;
}

.p2Heat320 {
  background-color: #0D2E63;
}

.p2Heat160 {
  background-color: #113878;
}

.p2Heat80 {
  background-color: #134596;
}

.p2Heat40 {
  background-color: #1D53AB;
}

.p2Heat20 {
  background-color: #2661BF;
}

.p2Heat10 {
  background-color: #2E70D9;
}

.p2Heat5 {
  background-color: #4688F2;
}

.p2Heat4 {
  background-color: #4F92FF;
}

.p2Heat3 {
  background-color: #75AAFF;
}

.p2Heat2 {
  background-color: #A3C4FA;
}

.p2Heat1 {
  background-color: #C9DEFF;
}




.contestedHeat5120 {
  background-color: #1A0019;
}

.contestedHeat2560 {
  background-color: #260124;
}

.contestedHeat1280 {
  background-color: #360133;
}

.contestedHeat640 {
  background-color: #450242;
}

.contestedHeat320 {
  background-color: #63055E;
}

.contestedHeat160 {
  background-color: #73066E;
}

.contestedHeat80 {
  background-color: #8C0A85;
}

.contestedHeat40 {
  background-color: #A3119C;
}

.contestedHeat20 {
  background-color: #BA1CB2;
}

.contestedHeat10 {
  background-color: #D127C9;
}

.contestedHeat5 {
  background-color: #E8C3DF;
}

.contestedHeat4 {
  background-color: #FF96F7;
}

.contestedHeat3 {
  background-color: #FF96FA;
}

.contestedHeat2 {
  background-color: #FCB8F9;
}

.contestedHeat1 {
  background-color: #FFC9FC;
}



.foodheat500 {
  background-color: #0C3612;
}

.foodheat100 {
  background-color: #0B4013;
}

.foodheat50 {
  background-color: #0D5919;
}

.foodheat10 {
  background-color: #136E20;
}

.foodheat9 {
  background-color: #1C8A2C;
}

.foodheat8 {
  background-color: #1FA633;
}

.foodheat7 {
  background-color: #2FBA44;
}

.foodheat6 {
  background-color: #41D156;
}

.foodheat5 {
  background-color: #45ED5E;
}

.foodheat4 {
  background-color: #66FF7D;
}

.foodheat3 {
  background-color: #8CFF9D;
}

.foodheat2 {
  background-color: #B0FFBC;
}

.foodheat1 {
  background-color: #D4FFDA;
}
